/*--------------------------------------------------
Global CSS
--------------------------------------------------*/
* {
    box-sizing:border-box;
}
.clear{clear:both;}

.swd_bg {
    background: url(../resources/hero-01.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.swd_shadow {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.91) 0%, rgba(61,61,61,0) 14%, rgba(19,19,19,0) 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(61,61,61,0) 21%, rgba(19,19,19,0) 100%);      /* IE 10 */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(61,61,61,0) 21%, rgba(19,19,19,0) 100%);      /* Opera 11.10+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(61,61,61,0) 21%, rgba(19,19,19,0) 100%);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.container {
    position: relative;
    z-index: 2;
    top: 0px;
}


/*end: Global CSS
--------------------------------------------------*/




/*--------------------------------------------------
Structure
--------------------------------------------------*/

.swd_bg {
    float: left;
    width: 100%;
	}
	
.logo {
    float: left;
    width: 230px;
    margin: 40px;
}

.logo img {
    width: 100%;
}

.swd_head_text {
    float: left;
    width: 100%;
    padding: 2% 9%;
    text-align: left;
    line-height: 70px;
}

a.swd_button {
    display: table;
    color: #fff;
    text-decoration: none;
    margin: 40px auto 0px;
    border: 2px solid #fff;
    padding: 7px 90px 7px 25px;
    font-size: 27px;
    text-transform: uppercase;
    border-radius: 60px;
    position: relative;
}

a.swd_button:after {content: "";width: 2px;height: 55px;position: absolute;background: rgba(255,255,255,0.5);right: 65px;top: 0px;}
a.swd_button:before {
	content: "";
	background:url(../Resources/Player.png);
	height: 30px;
	width: 30px;
	background-size: 100%;
	position: absolute;
	right: 19px;
	top: 14px;
}
/*end: Structure
--------------------------------------------------*/





/*--------------------------------------------------
Colors
--------------------------------------------------*/
.swd_head_text{
    color: #FFFFFF;}

/*end: Colors
--------------------------------------------------*/




/*--------------------------------------------------
Fonts & Typography
--------------------------------------------------*/

.swd_head_text, a.swd_button{
    font-family: 'Oswald', sans-serif;
}
 .swd_head_text{
    font-size: 65px;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.50);
    font-weight: 900;
    line-height: 80px;
    letter-spacing: 1.5px;
}


/*end: Fonts & Typography
--------------------------------------------------*/


/*--------------------------------------------------
Media Queries
--------------------------------------------------*/

/*If screen is bigger than 500*/
@media screen and (min-width: 500px) {

}

/*If screen is smaller than 500*/
@media screen and (max-width: 500px) {

.swd_head_text {
    font-size: 40px;
    line-height: 62px;
}

.logo {
    width: 179px;
    margin: 25px;
}
}

/*end: Media Queries
--------------------------------------------------*/


/*--------------------------------------------------
normalize.css: Downloaded: 1 Dec 2015
--------------------------------------------------*/

/*put it in a different CSS file*/


/*end: Fonts & Typography
--------------------------------------------------*/